h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "MuseoSansBold", sans-serif;
  margin: 0;
  font-weight: normal;
}

h1 {
  font-size: 2rem;
  line-height: 42px;
}
@media (min-width: 1025px) {
  h1 {
    font-size: 3.25rem;
    line-height: 64px;
  }
}

h1.small {
  font-size: 2.25rem;
  line-height: 44px;
}

h2 {
  font-size: 1.75rem;
  line-height: 36px;
}
@media (min-width: 1025px) {
  h2 {
    font-size: 2rem;
    line-height: 42px;
  }
}

h3 {
  font-size: 1.5rem;
  line-height: 32px;
}
@media (min-width: 1025px) {
  h3 {
    font-size: 1.75rem;
    line-height: 36px;
  }
}

h4 {
  font-size: 1.25rem;
  line-height: 32px;
}
@media (min-width: 1025px) {
  h4 {
    font-size: 1.5rem;
    line-height: 32px;
  }
}

h5 {
  font-size: 1.125rem;
  line-height: 24px;
}
@media (min-width: 1025px) {
  h5 {
    font-size: 1.25rem;
    line-height: 26px;
  }
}

h6 {
  font-size: 1.125rem;
  line-height: 24px;
}

h6.sub-heading {
  font-size: 1rem;
  line-height: 22px;
}

.featured-event-listing-wrapper {
  max-width: 1284px;
  padding: 0 18px;
  margin: 0 auto;
}
@media (min-width: 1440px) {
  .featured-event-listing-wrapper {
    padding: 0;
  }
}
.featured-event-listing-wrapper .featuredevents_top_wrapper .title {
  font-size: 1.75rem;
  font-style: normal;
  font-weight: normal;
  line-height: 36px;
  font-family: "MuseoSansBold", sans-serif;
  color: #003087;
  margin-bottom: 32px;
}
@media (min-width: 1025px) {
  .featured-event-listing-wrapper .featuredevents_top_wrapper .title {
    font-size: 2rem;
    line-height: 42px;
  }
}
.featured-event-listing-wrapper .featuredevents_item_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 24px;
     -moz-column-gap: 24px;
          column-gap: 24px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}
@media (min-width: 768px) {
  .featured-event-listing-wrapper .featuredevents_item_wrapper.num_of_card_3 .featuredevents_item:nth-last-child(-n+2) {
    margin-bottom: 32px;
  }
  .featured-event-listing-wrapper .featuredevents_item_wrapper.num_of_card_3 .featuredevents_item:last-child {
    margin-bottom: 0;
  }
}
.featured-event-listing-wrapper .featuredevents_item_wrapper .featuredevents_item {
  position: relative;
  margin-bottom: 24px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
@media (min-width: 768px) {
  .featured-event-listing-wrapper .featuredevents_item_wrapper .featuredevents_item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 48%;
            flex: 0 0 48%;
    width: 48%;
    margin-bottom: 32px;
  }
  .featured-event-listing-wrapper .featuredevents_item_wrapper .featuredevents_item:last-child {
    margin-bottom: 0;
  }
  .featured-event-listing-wrapper .featuredevents_item_wrapper .featuredevents_item:nth-last-child(-n+2) {
    margin-bottom: 0;
  }
}
@media (min-width: 1025px) {
  .featured-event-listing-wrapper .featuredevents_item_wrapper .featuredevents_item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 48%;
            flex: 0 0 48%;
    width: 48%;
    margin-bottom: 32px;
  }
}
@media (min-width: 1440px) {
  .featured-event-listing-wrapper .featuredevents_item_wrapper .featuredevents_item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 49%;
            flex: 0 0 49%;
    width: 49%;
    margin-bottom: 32px;
  }
}
.featured-event-listing-wrapper .featuredevents_item_wrapper .featuredevents_item:last-child {
  margin-bottom: 0;
}
.featured-event-listing-wrapper .featuredevents_item_wrapper .featuredevents_item .card_image {
  width: 42%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (min-width: 1025px) {
  .featured-event-listing-wrapper .featuredevents_item_wrapper .featuredevents_item .card_image {
    width: 52%;
  }
}
.featured-event-listing-wrapper .featuredevents_item_wrapper .featuredevents_item .card_image img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  -o-object-position: center;
     object-position: center;
  border-radius: 0px 6px 6px 0px;
  height: 100%;
}
.featured-event-listing-wrapper .featuredevents_item_wrapper .featuredevents_item .featuredevent_content_wrapper {
  padding: 20px;
  border-radius: 6px 0px 0px 6px;
  border-left: 2px solid #c0c3d0;
  border-bottom: 2px solid #c0c3d0;
  border-top: 2px solid #c0c3d0;
  position: relative;
  width: 60%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (min-width: 1025px) {
  .featured-event-listing-wrapper .featuredevents_item_wrapper .featuredevents_item .featuredevent_content_wrapper {
    padding: 32px;
    width: 55%;
  }
}
.featured-event-listing-wrapper .featuredevents_item_wrapper .featuredevents_item .featuredevent_content_wrapper .card_eyebrow {
  font-size: 0.8125rem;
  line-height: 16.25px;
  text-transform: uppercase;
  color: #007dba;
  font-family: "HelveticaBold", Arial, sans-serif;
  margin-bottom: 16px;
  word-wrap: break-word;
}
@media (min-width: 1025px) {
  .featured-event-listing-wrapper .featuredevents_item_wrapper .featuredevents_item .featuredevent_content_wrapper .card_eyebrow {
    font-size: 0.9375rem;
    line-height: 18.75px;
  }
}
.featured-event-listing-wrapper .featuredevents_item_wrapper .featuredevents_item .featuredevent_content_wrapper .card_title {
  font-size: 20px;
  font-style: normal;
  font-weight: normal;
  line-height: 26px;
  font-family: "MuseoSansBold", sans-serif;
  color: #5a5e6f;
  margin-bottom: 8px;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  display: -webkit-box;
  text-transform: capitalize;
}
@media (min-width: 1025px) {
  .featured-event-listing-wrapper .featuredevents_item_wrapper .featuredevents_item .featuredevent_content_wrapper .card_title {
    font-size: 1.75rem;
    line-height: 36px;
  }
}
.featured-event-listing-wrapper .featuredevents_item_wrapper .featuredevents_item .featuredevent_content_wrapper .card_des {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: #5a5e6f;
  margin-bottom: 16px;
}
@media (min-width: 1025px) {
  .featured-event-listing-wrapper .featuredevents_item_wrapper .featuredevents_item .featuredevent_content_wrapper .card_des {
    font-size: 1.125rem;
    line-height: 28px;
  }
}
.featured-event-listing-wrapper .featuredevents_item_wrapper .featuredevents_item .featuredevent_content_wrapper .cta {
  position: relative;
  bottom: 0;
  left: 0;
  margin-top: auto;
}
.featured-event-listing-wrapper .featuredevents_item_wrapper .featuredevents_item .featuredevent_content_wrapper .cta .link-arrow-btn--default {
  font-size: 1rem;
  font-style: normal;
  line-height: 22px;
  display: block;
}
@media (min-width: 1025px) {
  .featured-event-listing-wrapper .featuredevents_item_wrapper .featuredevents_item .featuredevent_content_wrapper .cta .link-arrow-btn--default {
    font-size: 1.25rem;
    line-height: 26px;
  }
}
.featured-event-listing-wrapper .featuredevents_item_wrapper .featuredevents_item .featuredevent_content_wrapper .cta .link-arrow-btn--default:after {
  width: 14px;
  top: 5px;
}
@media (min-width: 1025px) {
  .featured-event-listing-wrapper .featuredevents_item_wrapper .featuredevents_item .featuredevent_content_wrapper .cta .link-arrow-btn--default:after {
    width: 18px;
  }
}
.featured-event-listing-wrapper .featuredevents_item_wrapper .featuredevents_item:hover .featuredevent_content_wrapper {
  background-color: #003087;
  border-color: #003087;
}
.featured-event-listing-wrapper .featuredevents_item_wrapper .featuredevents_item:hover .featuredevent_content_wrapper .card_eyebrow,
.featured-event-listing-wrapper .featuredevents_item_wrapper .featuredevents_item:hover .featuredevent_content_wrapper .card_title,
.featured-event-listing-wrapper .featuredevents_item_wrapper .featuredevents_item:hover .featuredevent_content_wrapper .card_des,
.featured-event-listing-wrapper .featuredevents_item_wrapper .featuredevents_item:hover .featuredevent_content_wrapper .cta .link-arrow-btn--default {
  color: #ffffff;
}
.featured-event-listing-wrapper .featuredevents_item_wrapper .featuredevents_item:hover .featuredevent_content_wrapper .cta .link-arrow-btn--default:after {
  background-image: url("../../../../icons/arrow_white.svg");
}
.featured-event-listing-wrapper .featuredevents_item_wrapper .featuredevents_item .box_link {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.featured-event-listing-wrapper .featuredevents_item_wrapper .featuredevents_item .box_link:focus-visible {
  z-index: 4;
}
.featured-event-listing-wrapper .featuredevents_link {
  text-align: center;
  width: 100%;
  margin-top: 32px;
}
.featured-event-listing-wrapper .featuredevents_link .btn--default {
  font-size: 1rem;
  line-height: 20.8px;
  padding: 10px 18px;
}
@media (min-width: 1025px) {
  .featured-event-listing-wrapper .featuredevents_link .btn--default {
    font-size: 1.125rem;
    line-height: 22px;
    padding: 15px 25px;
  }
}
/*# sourceMappingURL=../../../maps/components/featuredevent-listing/featuredevent-listing.css.map */
