h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "MuseoSansBold", sans-serif;
  margin: 0;
  font-weight: normal;
}

h1 {
  font-size: 2rem;
  line-height: 42px;
}
@media (min-width: 1025px) {
  h1 {
    font-size: 3.25rem;
    line-height: 64px;
  }
}

h1.small {
  font-size: 2.25rem;
  line-height: 44px;
}

h2 {
  font-size: 1.75rem;
  line-height: 36px;
}
@media (min-width: 1025px) {
  h2 {
    font-size: 2rem;
    line-height: 42px;
  }
}

h3 {
  font-size: 1.5rem;
  line-height: 32px;
}
@media (min-width: 1025px) {
  h3 {
    font-size: 1.75rem;
    line-height: 36px;
  }
}

h4 {
  font-size: 1.25rem;
  line-height: 32px;
}
@media (min-width: 1025px) {
  h4 {
    font-size: 1.5rem;
    line-height: 32px;
  }
}

h5 {
  font-size: 1.125rem;
  line-height: 24px;
}
@media (min-width: 1025px) {
  h5 {
    font-size: 1.25rem;
    line-height: 26px;
  }
}

h6 {
  font-size: 1.125rem;
  line-height: 24px;
}

h6.sub-heading {
  font-size: 1rem;
  line-height: 22px;
}

.page-node-type-article {
  position: relative;
}
.page-node-type-article .paragraph--type--hero-interior-pages {
  margin-bottom: 0;
}
.page-node-type-article .paragraph--type--hero-interior-pages .hero_banner_wrapper .hero_image {
  min-height: 211px;
}
@media (min-width: 768px) {
  .page-node-type-article .paragraph--type--hero-interior-pages .hero_banner_wrapper .hero_image {
    min-height: 400px;
  }
}
@media (min-width: 1025px) {
  .page-node-type-article .paragraph--type--hero-interior-pages .hero_banner_wrapper .hero_image {
    min-height: 812px;
  }
}
.page-node-type-article .paragraph--type--hero-interior-pages .hero_banner_wrapper .hero_banner_content h1 {
  font-size: 32px;
  line-height: 42px;
  text-transform: initial;
}
@media (min-width: 1025px) {
  .page-node-type-article .paragraph--type--hero-interior-pages .hero_banner_wrapper .hero_banner_content h1 {
    font-size: 36px;
    line-height: 44px;
  }
}
.page-node-type-article .paragraph--type--hero-interior-pages .hero_banner_wrapper .publication_date {
  font-family: "HelveticaBold", Arial, sans-serif;
  font-size: 14px;
  line-height: 17.5px;
  text-transform: uppercase;
  color: #007dba;
  margin-bottom: 30px;
}
@media (min-width: 1025px) {
  .page-node-type-article .paragraph--type--hero-interior-pages .hero_banner_wrapper .publication_date {
    font-size: 15px;
    line-height: 18.75px;
  }
}
.page-node-type-article .paragraph--type--hero-interior-pages .hero_banner_wrapper .hero_banner_content {
  top: 0;
  margin-top: -40px;
  text-align: left;
  padding: 32px 40px 0px 18px;
  margin-left: 0;
  border-radius: 0px 6px 6px 6px;
}
@media (min-width: 768px) {
  .page-node-type-article .paragraph--type--hero-interior-pages .hero_banner_wrapper .hero_banner_content {
    max-width: 740px;
    margin: -40px auto 0;
    border-radius: 6px;
    padding: 72px 80px 0px 80px;
  }
}
@media only screen and (min-width: 1026px) and (max-width: 1100px) {
  .page-node-type-article .paragraph--type--hero-interior-pages .hero_banner_wrapper .hero_banner_content {
    max-width: 1010px !important;
    padding: 72px 80px 0px 80px !important;
  }
}
@media (min-width: 1025px) {
  .page-node-type-article .paragraph--type--hero-interior-pages .hero_banner_wrapper .hero_banner_content {
    margin-top: -180px;
    padding: 72px 109px 0px 109px;
    max-width: 1066px;
    min-height: 185px;
  }
}
.page-node-type-article .paragraph--type--hero-interior-pages .hero_banner_wrapper.noimage .hero_no_image {
  min-height: 80px;
}
@media (min-width: 1025px) {
  .page-node-type-article .paragraph--type--hero-interior-pages .hero_banner_wrapper.noimage .hero_no_image {
    min-height: 351px;
  }
}
.page-node-type-article .banner_description {
  margin-top: 18px;
  margin-bottom: 32px;
}
.page-node-type-article .banner_description p {
  font-size: 1.5rem;
  line-height: 32px;
  font-family: "MuseoSansBold", sans-serif;
  color: #5a5e6f;
  margin: 0px;
}
@media (min-width: 1025px) {
  .page-node-type-article .banner_description p {
    font-size: 1.75rem;
    line-height: 36px;
  }
}
.page-node-type-article .banner_description a {
  font-family: "MuseoSansBold", sans-serif;
}
.page-node-type-article .banner_description ul li,
.page-node-type-article .banner_description ol li {
  font-size: 1.5rem;
  line-height: 32px;
  font-family: "MuseoSansBold", sans-serif;
  color: #5a5e6f;
}
@media (min-width: 1025px) {
  .page-node-type-article .banner_description ul li,
  .page-node-type-article .banner_description ol li {
    font-size: 1.75rem;
    line-height: 36px;
  }
}
.page-node-type-article .banner_description ol li:before {
  content: "";
  width: 6px;
  display: inline-block;
}
.page-node-type-article .banner_description ul li:before {
  position: relative;
  top: -7px;
}
.page-node-type-article .banner_description_body {
  margin-bottom: 24px;
}
@media (min-width: 1025px) {
  .page-node-type-article .banner_description_body {
    margin-bottom: 32px;
  }
}
.page-node-type-article .banner_description_body p:first-child {
  margin-top: 0;
  padding-top: 0;
}
.page-node-type-article .banner_description_body ul li,
.page-node-type-article .banner_description_body ol li {
  font-size: 1rem;
  line-height: 24px;
}
@media (min-width: 1440px) {
  .page-node-type-article .banner_description_body ul li,
  .page-node-type-article .banner_description_body ol li {
    font-size: 1.125rem;
    line-height: 28px;
  }
}
@media (min-width: 768px) {
  .page-node-type-article .container-small.paragraph--type--rich-text {
    max-width: 740px;
  }
}
@media (min-width: 1025px) {
  .page-node-type-article .container-small.paragraph--type--rich-text {
    max-width: 848px;
  }
}
.page-node-type-article .cards_wrapper .cards_top_wrapper .title {
  margin-bottom: 32px;
}
@media (min-width: 1025px) {
  .page-node-type-article .cards_wrapper .cards_top_wrapper .title {
    margin-bottom: 48px;
  }
}
/*# sourceMappingURL=../../../maps/components/articlepage/articlepage.css.map */
